.w{
    display: flex;
width: 1280px;
height: 832px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 305px;
}
.waitlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.waitlist-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--Highlight, #FF8371);
    background: var(--Dark-Grey, #1D1D1D);
}

.waitlist-frame-input {
    display: flex;
    width: 726px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.waitlist-frame-button {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.waitlist-frame-input-content {
    width: 100%;
    height: 100%;
    color: var(--Grey, #6E6E6E);
    font-family: "Exo 2";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    /* 91.667% */
    flex: 1 0 0;
    outline: none;
    border: none;
}

.waitlist-frame-button-logo {
    width: 24px;
    height: 24px;
}

.waitlist-frame-button-content {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}