body{
    background: #121212;
    box-sizing: border-box;
}

#root{
    width: 100%;
}

::selection {
    background: #FF8371;
    color: #F4EAE7;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 435px) {
    .container{
        max-width: 435px;
    }
}



