.chat-bot-container{
    display: flex;
    width: 1280px;
    height: 832px;
    flex-direction: column;
    align-items: center;
    background: #121212;
}

.chat-bot-container-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.chat-bot-container-header-main{
    display: flex;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid rgba(110, 110, 110, 0.40);
}

.chat-bot-container-header-separator{
    height: 4px;
    align-self: stretch;
    background: #FF8371;
}

.chat-bot-container-header-main-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat-bot-container-header-main-centre{
    display: flex;
    padding: 0px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-bot-container-header-main-right{
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #6E6E6E;
}
.chat-bot-container-header-main-left-content{
    color: #6E6E6E;
    font-family: "Exo 2";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: capitalize;
}
.chat-bot-container-header-main-centre-1{
    color: #FF8371;
    text-align: right;
    font-family: "Exo 2";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.chat-bot-container-header-main-centre-2 {
    color: #FF8371;
    text-align: right;
    font-family: "Exo 2";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.chat-bot-container-header-main-right-icon{
    width: 16.003px;
    height: 16.003px;
}
.chat-bot-container-header-main-right-content{
    color: #6E6E6E;
    font-family: "Exo 2";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}

.chat-bot-container-main{
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    max-height: calc(90vh - 80px);
}

.chat-bot-container-main-transcript{
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 51px;
    flex: 1 0 0;
}
.chat-bot-container-main-icon{
    display: flex;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.chat-bot-container-main-user{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    width: 800px;
}

.chat-bot-container-main-transcript-content{
    width: 800px;
    color: #6E6E6E;
    font-family: "Exo 2";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.chat-bot-container-main-icon-content {
    width: 70.974px;
    height: 18px;
    flex-shrink: 0;
}

.chat-bot-container-main-user-field{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border: 1px solid #FF8371;
}
.chat-bot-container-main-user-button{
    display: flex;
    padding: 10px 16px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #FF8371;
}
.chat-bot-container-main-user-field-input{
    width: 100%;
    height: 100%;
    color: #F4EAE7;
    font-family: "Droid Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    flex: 1 0 0;
    background: #121212;
    outline: none;
    border: none;
    resize: none;
}
.chat-bot-container-main-user-button-icon{
    width: 24px;
    height: 24px;
}
.chat-bot-container-main-user-button-content{
    color: #121212;
    font-family: "Exo 2";
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}


@keyframes wave {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
  }
