.user-login-container {
    position: absolute;
    top: 67px;
    display: flex;
    width: 1280px;
    height: calc(100vh - 67px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 305px;
}

.user-login-container-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.user-login-container-inner-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--Dark-Grey, #1D1D1D);
    background: var(--Black, #121212);
    border-radius: 4px;
}

.user-login-container-inner-left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px;
    gap: 24px;
}

.user-login-container-inner-left-content-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    color: var(--Background---Light, #F4EAE7);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
}

.user-login-container-inner-left-content-heading1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-login-container-inner-left-content-secondary-buttons {
    display: flex;
    align-items: stretch;
    gap: 8px;
    align-self: stretch;
}

.user-login-container-inner-right {
    width: 319px;
    align-self: stretch;
    background: url('/public/images/login-page-icon.png') lightgray 50% / cover no-repeat;
}