.header-pc {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 67px;
    border-bottom: 2px solid #1D1D1D;
    background: #121212;
}

.header-android {
    display: none;
}

.header-left {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    padding: 24px 40px;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 24px;
}

.header-left-logo-icon {
    width: 22.156px;
    height: 19.5px;
}

.header-left-logo,
.header-right-buttons-login,
.header-right-buttons-enterprise {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
}

.header-left-logo {
    color: var(--Highlight, #FF8371);
    font-family: Raleway, sans-serif;
    letter-spacing: 1.28px;
}

.header-right-buttons-login,
.header-right-buttons-enterprise {
    color: var(--Grey, #6E6E6E);
    font-family: "Exo 2", sans-serif;
}

.header-right-buttons-login:hover,
.header-right-buttons-enterprise:hover {
    color: var(--Highlight, #FF8371);
    cursor: pointer;
}

.header-right-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 16px;
    border: none;
}

@media screen and (max-width: 435px) {
    .header-pc {
        display: none;
    }

    .header-android {
        position: fixed;
        max-width: 435px;
        width: 100%;
        display: flex;
        height: 67px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #1D1D1D;
        background: rgba(18, 18, 18);
        backdrop-filter: blur(6px);
    }

    .header-android-open {
        position: fixed;
        top : 67px;
        max-width: 435px;
        width: 100%;
        height: calc(100vh - 67px);
        z-index: 200;
        background: var(--Dark-Grey, #1D1D1D);
    }

    .header-android-open-button {
        color: var(--Background---Light, #F4EAE7);
        padding: 4px 16px;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.96px;
        cursor: pointer;
    }

    .header-android-left {
        display: flex;
        padding: 24px 16px;
        justify-content: center;
        align-items: flex-end;
        gap: 16px;
        align-self: stretch;
        cursor: pointer;
    }

    .header-android-right {
        display: flex;
        padding: 0px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
}

@media screen and (max-width: 400px) {

    .header-android {
        max-width: 400px;
    }

    .header-android-open {
        max-width: 400px;
    }
}