.footer {
    display: flex;
    width: 1280px;
    justify-content: space-between;
    align-items: center;
    background: var(--Dark-Grey, #1D1D1D);
}

.footer-left,
.footer-right {
    color: var(--Background---Light, #F4EAE7);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 40px;
}

.footer-left {
    font-family: Raleway;
}

.footer-right {
    font-family: "Exo 2";
}

.footer-center {
    display: flex;
    padding: 24px 40px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.footer-center-icon {
    width: 36px;
    height: 31.685px;
}

.footer-center-content {
    color: var(--Highlight, #FF8371);
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.footer-right:hover {
    color: var(--Highlight, #FF8371);
    cursor: pointer;
}